@import '../../Sass/colors';
nav {
    overflow: hidden;
    background-color: $buttonBackground;
    height: 3rem;

    a {
        float: right;
        text-decoration: none;
        color: $buttonTextColor;
        text-align: center;
        padding: 14px 16px;
        font-size: 17px;
        transition: 0.6s;
    }

    a.active {
        background-color: $buttonActive;
    }
    
    a:hover{
        background-color: $buttonOnHover;
    }
}